html,body{padding:0;margin:0;font-family:Verdana,Arial;background:#fff;}
img{border:0;}
h1{font-size:1.35em;margin:0;}
h3{margin:0;font-size:1.1em;}
blockquote{border-left:3px solid #ccc;color:#777;margin-left:10px;padding-left:10px;}
p{margin:0 0 25px 0;line-height:24px;}
code{background: #f6f6f6; border: 1px solid #eee; font-size: 0.95em; font-family:menlo,consolas,'courier new';padding: 2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
a{color:#004A7F;}
a:hover{color:#c35617;}

#left a {text-decoration:none;border:1px solid #f0f0f0;background:#f6f6f6;padding:5px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;line-height:30px;}
#left a:hover{background:#e6e6e6;border:1px solid #ccc;}
li{list-style:none;}
li span{display:inline-block;width:125px;float:left;padding:15px 0;}
li a{display:block;padding:15px;}

#about li{padding:20px;}
#about li a{display:inline;}
#about li a:hover{background:none;}

#site, #header{width:95%;margin:0 auto;}
#header{height:100px;margin-bottom:2px;position:relative;}
#title{font-size:2.5em;position:absolute;top:10px;left:100px;}
#title span{display:none;}
#rss{float:right;position:relative;top:10px;}
#content{margin-left:175px;position:relative;}

#left{padding:20px;width:125px;float:left;color:#fff;}