body{font-family:Chivo,verdana;}
a{text-decoration:none;color:#444;}
#home{position:absolute;top:0;left:0;background:#eee;padding:5px 10px;}
#home:hover{background:#ddd;}

#quote{width:960px;margin:75px auto;line-height:45px;font-size:30px;border:5px solid #ddd;border-width:5px 0;padding:50px;}
#quote:first-letter{font-size:75px;}
#attribution{font-style:italic;color:#888;text-align:right;}
#attribution:before{content:'-';}

body.dark{background:#222;color:#fff;}
body.dark #home{background:#444;color:#ccc;}
body.dark #home:hover;{background:#666;}
body.dark #quote{border-color:#888;}