<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="code, write, think" />
    <link href="/assets/site.css" rel="stylesheet">
    <link href="//feeds.feedburner.com/KarlSeguinsBlog" rel="alternate" type="application/atom+xml">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/assets/rainbow.js"></script>
    <!--[if lt IE 9]>
    <script>
      var e = ['article','header','nav'];
      for (var i = 0; i < e.length; i++) { document.createElement(e[i]); }
    </script>
    <![endif]-->
    <script>
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31013180-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    {{ content }}
  </body>
</html>

