<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content=java,scala,playframework,akka,hazelcast,elasticsearch/>
    <link href="/assets/site.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/assets/rainbow.js"></script>
    <script>
      var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-4489548-1']); _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div id="title"><a href="/" id="home">home</a><h1>{{ page.title  | xml_escape }}</h1><span> {{ page.date | date_to_string }}</div>
    <div id="a">{{ content }}</div>
    <div id="comments" class="section">
      <div id="disqus_thread"></div>
      <a href="http://disqus.com" class="dsq-brlink attribution">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    <script  type="text/javascript">
    {% if page.disqus_id %}var disqus_identifier = {{ page.disqus_id }};{% else %}var disqus_identifier = '{{ page.url }}';{% endif %}
    (function() {
     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
     dsq.src = 'http://fehmicansaglam.disqus.com/embed.js';
     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=fehmicansaglam">comments powered by Disqus.</a></noscript>
  </body>
</html>