<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="description" content="{{ page.description }}"/>
<meta name="keywords" content="{{ page.keywords }}"/>
<link href="/assets/site.css" rel="stylesheet">
<link href="/assets/pygments/default.css" rel="stylesheet">
<script>var _gaq=[['_setAccount','UA-4489548-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
</head>
<title>{{ page.title }}</title>
<div id="title"><a href="/" id="home">dön</a><h1>{{ page.title  | xml_escape }}</h1></div>
<div id="a"><h5>{{ page.date | date: "%d/%m/%y" }}</h5>{{ content }}</div>
<div id="comments" class="section">
  <div id="disqus_thread"></div>
  <a href="http://disqus.com" class="dsq-brlink attribution">yorumlar <span class="logo-disqus">Disqus</span> aracılığıyla sunulmaktadır</a>
</div>
<script type="text/javascript" src="http://fehmicansaglam.disqus.com/combination_widget.js?num_items=10&hide_mods=0&color=grey&default_tab=people&excerpt_length=200"></script><a href="http://disqus.com/">Powered by Disqus</a>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=fehmicansaglam">comments powered by Disqus.</a></noscript>