---
layout: default
---
<div id="title">
  <a href="/" id="home">home</a>
  <h1>{{ page.title  | xml_escape }}</h1>
</div>
<article>{{ content }}</article>

<div id="comments" class="section">
  <div id="disqus_thread"></div> 
  <a href="http://disqus.com" class="dsq-brlink attribution">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

<script>
$(document).ready(function() {
{% if page.disqus_id %}var disqus_identifier = {{ page.disqus_id }};{% else %}var disqus_identifier = '{{ page.url }}';{% endif %}

(function() {
 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
 dsq.src = 'http://karlseguin.disqus.com/embed.js';
 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
});
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=<%= Configuration.disqus_username %>">comments powered by Disqus.</a></noscript>