<!DOCTYPE html>
<title>{{ page.title }}</title>
<link href="http://fonts.googleapis.com/css?family=Chivo" rel="stylesheet" type="text/css">
<link href="/assets/quote.css" rel="stylesheet" type="text/css">
<script>var _gaq=[['_setAccount','UA-4489548-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='//www.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))</script>
</head>
<body{% if page.theme %} class="{{ page.theme }}"{% endif %}>
<a href="/" id="home">home</a>
<div id="quote"> {{ content }}</div>
